body {
    background-image: url("img/back.jpg");
}

.head {
    color: red;
}

.messages {
    background-color: ghostwhite;
    height: 400px;
    width: 50%;
    overflow: scroll;
    border: black solid 4px;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 100px;
}

.send_message {
    width: 50%;
    height: 80px;
    font-size: 130%;
}

.clear {
    clear: left;
}

.infoList {
    background-color: white;
    position: absolute;
    top: 155px;
    left: 60%;
    width: 400px;
}





